<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <% if (message) { %>
      <p><%= message %></p>
    <% } %>
    <form method="post">
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </body>
</html>